.login-btn{
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}
.nav-section{
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.menu-wrap{
  display: flex;
  justify-content: flex-end;
}
.menu-list{
  display: flex;
  list-style: none;
}
.menu-list li {
  padding: 10px;
}
.menu-search{
  margin-left: 19vw;
  height: 30px;
  border-bottom: 2px solid gray;
}
.menu-search input {
  border: none;
  margin-left: 10px;
}
.menu-search input:focus {
  outline: none;
}
.Card{
  cursor: pointer;
}
.product-img {
  display: flex;
  justify-content: flex-end;
}
#dropdown-basic-button {
  background-color: white;
  color: black;
  border: 1px solid black;
  margin-top: 20px;
}
#dropdown-basic-button:hover {
  background-color: black;
  color: white;
}
.product-btn {
  width: 80%;
  border-radius: 1px;
  margin-top: 30px;
}
.product-img img {
  cursor: pointer;
}
.product-container { 
  margin: 30px 0 30px 0;
}