.login-btn{
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  cursor: pointer;
}
.nav-section{
  display: flex;
  justify-content: center;
}
.menu-wrap{
  display: flex;
  justify-content: flex-end;
}
.menu-list{
  display: flex;
  list-style: none;
}
.menu-list li {
  padding: 10px;
}
.menu-search{
  margin-left: 19vw;
  height: 30px;
  border-bottom: 2px solid gray;
}
.menu-search input {
  border: none;
}
.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-wrap{
  width: 400px;
  height: 500px;
  background-color: rgb(184, 215, 215);
  margin-top: 30px;
  border-radius: 15px;
}
.login-wrap input {
  margin: 30px;
}